ul {
    width: 600px;
}

.center {
    width: 80%;
    margin: 0 auto 25px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.list-el {
    list-style-type: none;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 4px;
    padding: 0 25px;
    display: inline-block;
    margin-bottom: 15px;
}

.list-el > * {
    display: inline-block;
}

.list-el > span {
    margin-left: 10px;
    cursor: pointer;
}

.list-el > span:hover {
    color: red;
}