<nav class="menu">
    <a 
        class="nav-link" 
        routerLink="" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        home
    </a>
    <a 
        class="nav-link" 
        routerLink="admin" 
        routerLinkActive="active">
        admin
    </a>
    <a 
        class="nav-link" 
        routerLink="users" 
        routerLinkActive="active">
        users
    </a>
    <a 
        class="nav-link" 
        routerLink="formarray" 
        routerLinkActive="active">
        formArray
    </a>
    <a 
        class="nav-link" 
        routerLink="formbuilder" 
        routerLinkActive="active">
        formBuilder
    </a>
    <a 
        class="nav-link"
        [routerLink]="[{ outlets: { popup: 'login' } }]">
        login
    </a>
    <a 
        class="nav-link"
        [routerLink]="[{ outlets: { popup: null } }]">
        close login
    </a>
    
</nav>
