<h2 class="title">Hello{{name ? ', ' : ''}}{{name}}!</h2>
<form (ngSubmit)="onSubmit()">
    <fieldset [formGroup]="fullNameControl">
        <small>FormGroup Status: {{ FormGroupStatus }}</small>
        <input type="text" formControlName="firstName">
        <input type="text" formControlName="lastName">
    </fieldset>
    <small>Pass status: {{ passStatus }}</small>
    <input type="password" [formControl]="passControl" #userPassElement>

    <input type="submit" [disabled]="!isValid">
</form>
