/* You can add global styles to this file, and also import other style files */
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
button {
    display: block;
    border-radius: 4px;
    color: #fff;
    background-color: #2498F3;
    border: 0;
    padding: 10px;
    font-size: 14px;
}

input[type=text], 
input[type=password], 
input[type=submit] {
    margin-bottom: 25px;
    display: block;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    padding: 10px;
    font-size: 14px;
}

li input, li button {
    display: inline-block !important;
    margin-bottom: 0 !important;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

input[type=submit] {
    color: #fff;
    background-color: #2498F3;
}

input[type="submit" i]:disabled {
    color: graytext;
    background-color: buttonface;
}

ul {
    margin: 0 auto 25px auto;
    padding: 0;
}

ul > li {
    list-style-type: none;
}

.center {
    text-align: center !important;
}